<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Car Manager</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/style.css" rel="stylesheet">
  </head>

  <body>

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <h1 class="masthead-brand">Car Manager</h1>
            </div>
          </div>

          <div class="inner cover">
            <form class="form-inline">
                <label class="sr-only" for="inlineFormInput">Car Name</label>
                <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="inlineFormInput" placeholder="Car name">

                <label class="sr-only" for="inlineFormInputGroup">Car Name</label>

                <button type="button" class="btn btn-primary" value="Add">Add new car</button>
            </form>

            <form style="margin-top:20px;"class="form-inline">
                <label class="sr-only" for="inlineFormInput">Car Name</label>
                <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="inlineFormInput" placeholder="Car name">

                <label class="sr-only" for="inlineFormInputGroup">Car Name</label>

                <button type="button" class="btn btn-primary">Delete Car</button>
            </form>

            
          </div>

          <div style="margin-top: 10%;" class="list-group">
            <a href="#"  class="list-group-item active">Car List</a>
            <a href="#" class="list-group-item list-group-item-action">Audi</a>
            <a href="#" class="list-group-item list-group-item-action">Mercedes</a>
            <a href="#" class="list-group-item list-group-item-action">BMW</a>
            <a href="#" class="list-group-item list-group-item-action">Renault</a>
          </div>

          <div class="mastfoot">
  
          </div>

        </div>

      </div>

    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/script.js"></script>

  </body>
</html>
